@model IEnumerable<LogWhatever.MvcApplication.Controllers.Templates.PagesController.DashboardLogModel>

<style type="text/css">
	div.log { float:left; width:25%; padding-right:1%; }
	div.log>div>h6 { float:left; width:100%; color:#AAA; }
	div.log>div>div.info { float:left; width:100%; }
	div.log>div>div.info>div { float:left; width:49.5%; margin-right:1%; padding:3px 5px; border-radius:3px; box-sizing:border-box; background-color:#EEE; font-size:9px; color:#888; text-transform:uppercase; }
	div.log>div>div.info>div:nth-child(even) { margin-right:0px; }
	div.log>div>div.info>div:nth-child(n+3) { margin-top:1%; }
</style>

@foreach (var log in Model)
{
	<div class="tile log">
		<div>
			<h3>@log.Name</h3>
			<h6>@log.Date.ToString()</h6>
			<div class="info">
				@foreach (var measurement in log.Measurements)
				{
					<div class="measurement"><b>@measurement.Name</b>: @measurement.Quantity.ToString("0.00") @measurement.Unit</div>
				}
				@foreach (var tag in log.Tags)
				{
					<div class="tag"><b>@tag.Name</b></div>
				}
			</div>
		</div>
	</div>
}