@model IEnumerable<LogWhatever.MvcApplication.Controllers.Templates.PagesController.LogModel>

<style type="text/css">
	div.log { float:left; width:19.2%; padding-right:1%; cursor:pointer; }
	div.log>div { padding:10px; height:100%; }
	div.log>div>span { float:left; width:100%; color:#888; font-size:0.9167em; }
	div.log>div>div { float:left; width:100%; font-size:0.92em; }
	div.log>div>div.measurements>div { float:left; width:100%; }
	div.log>div>div.measurements>div>span.name { float:left; font-weight:bold; text-transform:uppercase; }
	div.log>div>div.measurements>div>span.value { float:right; }
	div.log>div>div.tags { margin-top:5px;  }
	div.log>div>div.tags>div { float:left; width:auto; margin-top:3px; margin-right:3px; text-align:center; text-transform:lowercase; background:#528ABA -webkit-gradient(linear, 0% 0%, 0% 100%, from(#528ABA), to(#528ABA)) no-repeat; background:#3F82C4; color:#FFF; padding:3px 5px; border-radius:3px; }
</style>

@foreach (var log in Model)
{
	<div class="tile log">
		<div>
			<h3>@log.Name</h3>
			<span>@log.Date.ToString()</span>
			<div class="measurements">
				@foreach (var measurement in log.Measurements)
				{
					<div>
						<span class="name ellipsis">@measurement.Name:</span>
						<span class="value ellipsis">@measurement.Quantity.ToString("0.00") @measurement.Unit</span>
					</div>
				}
			</div>
			<div class="tags">
				@foreach (var tag in log.Tags)
				{
					<div>@tag.Name</div>
				}
			</div>
		</div>
	</div>
}