@model IEnumerable<LogWhatever.MvcApplication.Controllers.Templates.PagesController.EventModel>

<style type="text/css">
	div.events { float:left; width:450px; }
	div.charts { position:relative; margin-left:465px; }

	div.event { float:left; display:block; width:100%; margin-bottom:15px; }
	div.event>div>h4 { float:left; width:auto; color:#498FCC; }
	div.event>div>span { float:right; color:#AAA; margin-top:2px; }
	div.event>div>div { float:left; width:100%; font-size:0.92em; }
	div.event>div>div.measurements>div { float:left; width:100%; }
	div.event>div>div.measurements>div>span.name { float:left; font-weight:bold; text-transform:uppercase; }
	div.event>div>div.measurements>div>span.value { float:right; }
	div.event>div>div.tags { margin-top:5px;  }
	div.event>div>div.tags>div { float:left; width:auto; margin-top:3px; margin-right:3px; text-align:center; text-transform:lowercase; background:#528ABA -webkit-gradient(linear, 0% 0%, 0% 100%, from(#528ABA), to(#528ABA)) no-repeat; background:#3F82C4; color:#FFF; padding:3px 5px; border-radius:3px; }

	div.charts>div>div>h4 { float:left; width:100%; color:#498FCC; }
	div.charts>div>div { height:100%; }

	div.charts div.measurements-chart { float:left; width:69%; margin-left:1%; height:300px; }
	div.charts div.tag-ratios-chart { float:left; width:30%; height:300px; }
</style>

<div class="events">
	@foreach (var evt in Model)
	{
		<div class="tile event">
			<div>
				<h4>@evt.Date.ToLongDateString()</h4>
				<span>@evt.Date.ToShortTimeString()</span>
				<div class="measurements">
					@foreach (var measurement in evt.Measurements)
					{
						<div>
							<span class="name ellipsis">@measurement.Name:</span>
							<span class="value ellipsis">@measurement.Quantity.ToString("0.00") @measurement.Unit</span>
						</div>
					}
				</div>
				<div class="tags">
					@foreach (var tag in evt.Tags)
					{
						<div>@tag.Name</div>
					}
				</div>
			</div>
		</div>
	}
</div>
	
<div class="charts">
	<div class="tile tag-ratios-chart">
		<div>
			<h4>Tag Ratios</h4>
			<div id="tag-ratios-chart"></div>
		</div>
	</div>
	<div class="tile measurements-chart">
		<div>
			<h4>Measurements</h4>
			<div id="measurements-chart"></div>
		</div>
	</div>
</div>