@using LogWhatever.MvcApplication.Views
<style type="text/css">
	div.sign-in { float:left; margin-right:10px; width:300px; display:block; }
	div.sign-in>div>div>input[type='checkbox'] { float:left; margin-top:7px; }
	div.sign-in>div>div>label { float:left; color:#777; margin-left:5px; margin-top:4px; }
	div.register { float:left; width:600px; margin-left:1%; }
	div.register>div>div { float:left; width:49%; margin-left:2%; }
	div.register>div>div:nth-of-type(1) { margin-left:0px; }
	div.register div.btn { width:100%; box-sizing:border-box; margin-left:0px; }
</style>

<div class="tile sign-in">
	<div class="form">
		<h3>Sign In</h3>
		@Builder.FormText("Email address:", "email-address")
		@Builder.FormPassword("Password:", "password")
		<div>
			<input type="checkbox" id="stay-signed-in" />
			<label for="stay-signed-in">Stay signed in</label>
			<button id="sign-in">Sign In</button>
		</div>
	</div>
</div>

<div class="tile register">
	<div>
		<h3>Register</h3>
		<div class="form">
			@Builder.FormText("Name:", "register-name")
			@Builder.FormText("Email address:", "register-email-address")
		</div>
		<div class="form">
			@Builder.FormPassword("Password:", "register-password")
			@Builder.FormPassword("Confirm Password:", "register-confirm-password")
		</div>
		<div class="form btn">
			<div>
				<button id="register">Register</button>
			</div>
		</div>
	</div>
</div>